<header class="masthead">
  <div class="masthead-inner">
    <a href="/"><img src="/public/images/logo.png" id="logo"></a>
    <p class="lead"></p>

    <div class="colophon">
      <ul class="colophon-links">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/introductie">INTRODUCTIE</a>
        </li>
        <li>
          <a href="/installatie">INSTALLATIE</a>
        </li>
        <li>
          <a href="/command_line">WINDOWS COMMAND LINE</a>
        </li>
        <li>
          <a href="/hoofdstuk1">> HOOFDSTUK 1</a>
        </li>
        <li>
          <a href="/hoofdstuk2">> HOOFDSTUK 2</a>
        </li>
        <li>
          <a href="/hoofdstuk3">> HOOFDSTUK 3</a>
        </li>
        <li>
          <a href="/hoofdstuk4">> HOOFDSTUK 4</a>
        </li>
      </ul>
      
      <p class="copyright">&copy; Geert &amp; Boris, 2014<br>
        <a href="mailto:ghkapteijns@gmail.com" alt="Mail">ghkapteijns@gmail.com</a>
      </p>
    </div>
  </div>
</header>