.nav > li > a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: underline;
}

nav {
  font-family: @font-family-monospace;
}

.navbar-brand {
  margin-top: -7px;
}

.content {
  padding: 20px 20px;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin: -10px 0 10px;
  color: @asbestos;
}

// Als je dit aanzet fuck je de navbar collapse op
// .container {
//   width: 1100px;
// }

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-top: 40px;
  font-weight: bold;
  color: @silver;
  text-align: center;
  border-top: 1px solid #eee;
}
/* Pagination should float when space is plentiful */
@media (min-width: 990px) {
  .pagination {
    margin-bottom: 60px;
    border: 1px solid #eee;
  }
}

.pagination a,
.pagination span {
  float: left;
  width: 50%;
  padding: 20px;
}
.pagination a:first-child,
.pagination span:first-child {
  border-right: 1px solid #eee;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
