<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse theme-base-08">

    <header class="masthead">
      <div class="masthead-inner">
        <a href="/"><img src="/public/images/logo.png" id="logo"></a>
        <p class="lead"></p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="/">HOME</a>
            </li>
            <li>
              <a href="/introductie">INTRODUCTIE</a>
            </li>
            <li>
              <a href="/installatie">INSTALLATIE</a>
            </li>
            <li>
              <a href="/command_line">WINDOWS COMMAND LINE</a>
            </li>
            <li>
              <a href="/les1">LES 1</a>
            </li>
            <li>
              <a href="/les2">LES 2</a>
            </li>
            <li>
              <a href="/les3">LES 3</a>
            </li>
            
          </ul>
          <p>&copy; 2014 Geert en Boris<br>
            ghkapteijns@gmail.com
          </p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
