<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse theme-base-08">

  {% include header.html %} 

    <div class="container content">
      <div class="row">
        <div class="col-lg-8">
          {{ content }}
        </div>
        <div class="col-lg-4"></div>
      </div>
  {% include analytics.html %}

  <!-- Load JS here for greater good =============================-->
    <script src="/public/js/jquery-1.8.3.min.js"></script>
    <script src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/public/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/bootstrap-select.js"></script>
    <script src="/public/js/bootstrap-switch.js"></script>
    <script src="/public/js/flatui-checkbox.js"></script>
    <script src="/public/js/flatui-radio.js"></script>
    <script src="/public/js/jquery.tagsinput.js"></script>
    <script src="/public/js/jquery.placeholder.js"></script>
  </body>
</html>
